<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="style.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9a88b19095.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <div class="slider">
      <div class="container">
        <div class="slides">
          <img class="img" src="images/slide-1.jpg" alt="image-1" />
          <img class="img" src="images/slide-2.jpg" alt="image-2" />
          <img class="img" src="images/slide-3.jpg" alt="image-3" />
        </div>
      </div>
      <div class="btn btn-left">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="btn btn-right">
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="dots-container"></div>
    </div>
  </body>
</html>
