<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="style.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9a88b19095.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="script.js"></script>
  </head>
  <body>
    <div class="menu">
      <div class="menu-container">
        <ul class="list">
          <li class="item">About</li>
          <li class="item">Notices</li>
          <li class="item">Articles</li>
          <li class="item">Lectures</li>
        </ul>
      </div>
      <div class="backdrop hidden"></div>
      <nav class="navigation">
        <div class="menu-button"><i class="fas fa-bars"></i></div>
        <h1 class="title">Menu</h1>
        <div class="search"><i class="fas fa-search"></i></div>
      </nav>
    </div>
  </body>
</html>
