body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--color-black-1);
}

.heading_primary {
  font-size: 8.8rem;
  font-weight: 700;
  line-height: 1;
}

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.8;
}

.heading_tertiary {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
}

.paragraph-precaution {
  font-size: 1.3rem;
  color: var(--color-grey-2);
}
