// FONT WEIGHT
.font-weight-medium {
  font-weight: 500;
}

// MARGIN
.margin-bottom-tiny {
  margin-bottom: 2rem;
}

.margin-bottom-small {
  margin-bottom: 3rem;
}

.margin-bottom-medium {
  margin-bottom: 6.5rem;
}
