<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="resources/css/style.css" />

    <title>Slide Animation</title>
  </head>
  <body>
    <div class="scroll-image">
      <div class="scroll-image__row scroll-image__row--1">
        <img src="resources/img/01.jpg" alt="01" class="scroll-image__img" />
        <img src="resources/img/02.jpg" alt="02" class="scroll-image__img" />
        <img src="resources/img/03.jpg" alt="03" class="scroll-image__img" />
        <img src="resources/img/04.jpg" alt="04" class="scroll-image__img" />
        <img src="resources/img/05.jpg" alt="05" class="scroll-image__img" />
        <img src="resources/img/06.jpg" alt="06" class="scroll-image__img" />
        <img src="resources/img/01.jpg" alt="01" class="scroll-image__img" />
        <img src="resources/img/02.jpg" alt="02" class="scroll-image__img" />
        <img src="resources/img/03.jpg" alt="03" class="scroll-image__img" />
      </div>
      <div class="scroll-image__row scroll-image__row--2">
        <img src="resources/img/07.jpg" alt="07" class="scroll-image__img" />
        <img src="resources/img/08.jpg" alt="08" class="scroll-image__img" />
        <img src="resources/img/09.jpg" alt="09" class="scroll-image__img" />
        <img src="resources/img/10.jpg" alt="10" class="scroll-image__img" />
        <img src="resources/img/11.jpg" alt="11" class="scroll-image__img" />
        <img src="resources/img/12.jpg" alt="12" class="scroll-image__img" />
        <img src="resources/img/07.jpg" alt="07" class="scroll-image__img" />
        <img src="resources/img/08.jpg" alt="08" class="scroll-image__img" />
        <img src="resources/img/09.jpg" alt="09" class="scroll-image__img" />
      </div>
    </div>
  </body>
</html>
